<footer class="page-footer teal" style="position:fixed;bottom: 0;right:0;left:0;height:15%;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Front Genius Gemini@HPEC</h5>
                
                <p class="grey-text text-lighten-4"><time>2018.05.23</time></p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Project Page</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/Gyumeijie/visual-configuration">On-board System Visual
                            configuration panel</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Authors</h5>
                <ul>
                    <li><i class="material-icons">account_box</i><a class="white-text"
                                                                    href="https://github.com/Gyumeijie">Yu Meijie</a>
                    </li>
                    <li><i class="material-icons">account_box</i><a class="white-text" href="https://github.com/Allen3">Yang
                            Shujian</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Powered by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
