@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
    font-weight: Normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
    font-weight: Bold;
}

@font-face {
    font-family: 'Averia Libre';
    src: url('../assets/fonts/Averia_Libre/AveriaLibre-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Averia Libre';
    src: url('../assets/fonts/Averia_Libre/AveriaLibre-Regular.ttf');
    font-weight: Normal;
}

@font-face {
    font-family: 'Averia Libre';
    src: url('../assets/fonts/Averia_Libre/AveriaLibre-Bold.ttf');
    font-weight: Bold;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../assets/fonts/Alegreya_Sans/AlegreyaSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../assets/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf');
    font-weight: Normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../assets/fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf');
    font-weight: Bold;
}

html, body, .joint-app {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    font-family: sans-serif, Arial;
    overflow: hidden;
}

.app-header {
    position: relative;
    width: 100%;
}

.app-body {
    position: relative;
    height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
}

.app-title {
    display: inline-block;
    width: 240px;
    height: 100%;
    padding: 0;
}

.inspector-title {
    display: inline-block;
    width: 240px;
    height: 100%;
    padding: 0;
    float: right;
}

.app-title > h1, .inspector-title > h1 {
    color: #fff;
    font-size: 15px;
    line-height: 60px;
    text-align: left;
    margin: 0;
    padding: 0 0 0 30px;
    background-color: cadetblue;
}

/*  Toolbar  */
.toolbar-container {
    display: inline-block;
    position: absolute;
    height: 100%;
    left: 240px;
    right:240px;
}

.toolbar-container .joint-toolbar {
    width: 100%;
    height: 100%;
}

.toolbar-container label {
    white-space: nowrap;
}

.toolbar-container button:not(:empty) {
    padding: 0 10px;
}

.toolbar-container button.joint-widget[data-type="zoomIn"],
.toolbar-container button.joint-widget[data-type="zoomOut"] {
    display: none;
}

/*  Paper  */
.paper-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    /*
    left: 240px;
    right: 240px;*/
}

/*  Inspector  */
.inspector-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 240px; /* navigator height */
    width: 240px;
    box-sizing: border-box;
}

.field[data-field$="/fill"],
.field[data-field$="/stroke"] {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.joint-select-box.joint-color-palette .select-box-option:nth-child(2):not(.hover) {
    border: inset;
    border-width: 1px;
}

.joint-inspector-select-box-options {
    width: 190px;
}

/*  Navigator  */
.navigator-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 240px;
    height: 240px;
}

/*  Stencil  */
.stencil-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    height: 92%;
    z-index: 1;
}

.joint-stencil .joint-element[data-type="basic.Image"] text,
.joint-stencil .joint-element[data-type="devs.Atomic"] .inPorts text,
.joint-stencil .joint-element[data-type="devs.Atomic"] .outPorts text,
.joint-stencil .joint-element[data-type="pn.Transition"] text,
.joint-stencil .joint-element .joint-port text {
    display: none;
}

.joint-stencil .joint-element.joint-type-uml rect,
.joint-stencil .joint-element.joint-type-uml path {
    stroke: #4a4d6e;
}

/* Container of the bottom tabs */
.container-fluid {
    position: absolute;
    background-color: white;
    bottom: 0;
    height: 7%;
    width:94%;
    padding-right: 3% !important;
    padding-left: 3% !important;
}

.joint-dialog.joint-lightbox .fg {
    background-color: #F6F6F6;
}

.options-container {
    position: fixed;
    margin-left: 40%;
    margin-top: 80px;
    min-width: 240px;
    z-index: 1!important;
}

.options-container select {
    display: inline-block !important;
    background-color: #ffffff;
}

.options-container button{
    display: inline-block !important;
    color: #000;
}

.options-container  button:nth-of-type(2) {
   /*float: right;*/
}

.options-container select {
   margin-bottom: 0px;
}

.btn {
    text-shadow:none!important;
}

.joint-halo {
    display: none;
}
.joint-free-transform {
    display: none;
}

.tips-container {
    position: fixed;
    /*larger than paper*/
    z-index: 2;
}
.tips-container select {
    display: inline-block !important;
    background-color: #ffffff;
    background-color: #e7e4d4;
    margin-bottom: 0px;
    width: auto;
}

.tips-container button{
    display: inline-block !important;
    color: #000;
    padding: 4px 6px;
    margin-left: 4px;
    background-color: #fff;
    border: 1px solid #ccc;

}

.joint-inspector.joint-theme-modern .group>.group-label {
   text-transform: none!important;    
}