<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">OBFS Framework</a>
        <ul class="left">
            <li><a onclick="actionBack()"><i class="material-icons">arrow_back</i></a></li>
        </ul>
    </div>
</nav>

<script>
    function actionBack() {
        if (confirm('Back to Home?')) {
            window.location.href = "/";
        }
    }
</script>