<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/css/lib/rappid.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/orgchart.css">
    <link rel="stylesheet" type="text/css" href="/css/theme-picker.css">

    <!-- theme-specific application CSS  -->
    <link rel="stylesheet" type="text/css" href="/css/style.dark.css">
    <link rel="stylesheet" type="text/css" href="/css/style.material.css">
    <link rel="stylesheet" type="text/css" href="/css/style.modern.css">

    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import materialize css lib -->

    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-combined.min.css">
    <link rel="stylesheet" href="/css/custom.css"/>


    <style type="text/css">
        .nav-tabs > li .close {
            margin: -2px 0 0 10px;
            font-size: 20px;
        }
        .nav-tabs > li{
            width: 10%; /* Display max 10 tabs meanwhile */
            text-align: center;

        }
        .nav-tabs > li > a {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        ul.nav.nav-tabs {
            /* Override the style from bootstrap*/
            margin-bottom: 1em !important;
            margin-top: 1em !important;
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            width: auto;
            color: black;
            font-weight: bold;
            font-size: 16px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }
        .prev {
            left: 1%;
            top: 40%;
        }
        /* Position the "next button" to the right */
        .next {
            right: 1%;
            top: 40%;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

    </style>
</head>
<body>



<div id="app">
    <div class="app-header">
        <div class="app-title">
            <h1><%= title %></h1>
        </div>
        <div class="toolbar-container"></div>
        <div class="options-container" hidden>
            <button id="cancel-button" type="button" class="btn btn-outline-primary">Cancel</button>
            <button id="apply-button" type="button" class="btn btn-outline-primary">Apply</button>
        </div>
    </div>
    <div class="app-body">
        <div class="stencil-container"></div>
        <div class="paper-container"></div>
        <div class="inspector-container"></div>
        <div class="navigator-container"></div>
    </div>

    <div class="container-fluid">
        <a class="prev">❮</a>
        <a class="next">❯</a>
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#Main" id="main" >Main</a></li>
        </ul>

    </div>

</div>

<!-- Rappid/JointJS dependencies: -->
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/lodash.js"></script>
<script src="/js/lib/backbone.js"></script>
<script src="/js/lib/graphlib.core.js"></script>
<script src="/js/lib/dagre.core.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<script src="/js/lib/rappid.js"></script>

<!--[if IE 9]>
<script>
    // `-ms-user-select: none` doesn't work in IE9
    document.onselectstart = function () {
        return false;
    };
</script>
<![endif]-->

<!-- Application files:  -->
<script src="/js/config/halo.js"></script>
<script src="/js/config/selection.js"></script>
<script src="/js/config/inspector.js"></script>
<script src="/js/config/stencil.js"></script>
<script src="/js/config/toolbar.js"></script>
<script src="/js/config/sample-graphs.js"></script>
<script src="/js/views/main.js"></script>
<script src="/js/views/orgchart.js"></script>

<script src="/js/views/theme-picker.js"></script>
<script src="/js/models/joint.shapes.app.js"></script>
<script>
    joint.setTheme('modern');
    app = new App.MainView({el: '#app'});
    //themePicker = new App.ThemePicker({mainView: app});
    //themePicker.render().$el.appendTo(document.body);
    window.addEventListener('load', function () {
        //app.graph.fromJSON(JSON.parse(App.config.sampleGraphs.emergencyProcedure));

        App.pattern = {};
        App.pattern.tree = {factory: tree.bind(app, joint, V, _), hasCalled: false};

        App.tabs = {};
    });
</script>
<script>

    function addTabToActiveGroup(tab, dir) {
        if (dir === "left") {
            tabControl.activeTabs.unshift(tab);
        } else {
            tabControl.activeTabs.push(tab);
        }
    }

    function addTabToLeftHiddenTabs(tab) {
        tabControl.leftHiddenTabs.push(tab);
    }

    function hideTab(tab) {
        // parent
        tab.css("display", "none");
    }

    function activeTab(tab) {
        tab.css("display", tabDisplayType);
    }

    function deleteActiveTab(tabId) {
        var activeTabLen = tabControl.activeTabs.length;

        for (var i=0; i<activeTabLen; i++) {
             console.log(tabControl.activeTabs[i].attr("id"));
            if (tabControl.activeTabs[i].attr("id") === tabId) {
                tabControl.activeTabs.splice(i, 1);
                i--; //
                break;
            }
        }

        var tab;

        if (tabControl.rightHiddenTabs.length != 0) {
            tab = tabControl.rightHiddenTabs.pop();
            addTabToActiveGroup(tab, "right");
            activeTab(tab);
            curTab = tabControl.activeTabs[i];
        } else if (tabControl.leftHiddenTabs.length != 0) {
            tab = tabControl.leftHiddenTabs.pop();
            addTabToActiveGroup(tab, "left");
            activeTab(tab);
            curTab = tabControl.activeTabs[i];
        } else {
            if (i == activeTabLen - 1) {
                curTab = tabControl.activeTabs[i-1];
            } else {
                curTab = tabControl.activeTabs[i];
            }
        }

        console.log(tabId, i);
        //showTab(curTab.attr("id"));
        curTab.tab("show");
    }

    // initilize tabs
    $(function () {

        // when ever any tab is clicked this method will be call
        // li
        $("#myTab").on("click", "a", function (e) {
            e.preventDefault();

            curTab = $(this);
            $(this).tab('show');

            var graphJSON = App.tabs[getCurrentTab()];
            if (graphJSON != undefined) {
                app.graph.fromJSON(JSON.parse(graphJSON));
            }
        });

        //registerCloseEvent();
    });

    // this method will demonstrate how to add tab dynamically
    function registerComposeButtonEvent() {

            var saveJSON = JSON.stringify(app.graph);
            var curTabId = getCurrentTab();
            // TODO rename tabPane
            App.tabs[curTabId] = saveJSON;

            var tabId = "tab" + tabsCount; //this is id on tab content div where the

            newTab(tabId);
            curTab = $("#"+ tabId);
            addTabToActiveGroup(curTab, "right");

            $(this).tab('show');
            //showTab(tabId);
            registerCloseEvent();
    }

    function newTab(tabId) {
         // TODO magic number 9
        if (tabControl.activeTabs.length > 9) {
            var tab = tabControl.activeTabs.shift();
            addTabToLeftHiddenTabs(tab);
            hideTab(tab);
        }

        var tab = `<li><a href="#${tabId}" id="${tabId}"><button id=${tabId}_btn class="close closeTab" type="button" >&times;</button>${tabId}</a></li>`;
        $('.nav-tabs').append(tab);

        tabsCount += 1;
    }

    // this method will register event on close icon on the tab..
    function registerCloseEvent() {
        // 多个注册，那么会触发哪一个
        $(".closeTab").click(function (event) {
            console.log("target", event.target);
            // there are multiple elements which has .closeTab icon so close the tab whose close icon is clicked
            var tabContentId = $(this).parent().attr("href");
            $(this).parent().parent().remove(); // remove li of tab
            // $('#myTab a:last').tab('show'); // Select first tab
            $(tabContentId).remove(); // remove respective tab content

            console.log("before delete", getCurrentTab());
            // 不是当前的也可以删除， 禁止删除
            //deleteActiveTab(getCurrentTab());
            deleteActiveTab($(this).parent().attr("id"));
            // 非常重要
            event.stopImmediatePropagation();
        });
    }

    // shows the tab with passed content div id..paramter tabid indicates the div where the content resides
    function showTab(tabId) {
        $('#myTab a[href="#' + tabId + '"]').tab('show');
    }

    // this will return element from current tab
    // example : if there are two tabs having  textarea with same id or same class name then when $("#someId") will return both the text area from both tabs
    // to take care this situation we need get the element from current tab.
    function getElement(selector) {
        var tabContentId = $currentTab.attr("href");
        return $("" + tabContentId).find("" + selector);

    }

    function removeCurrentTab() {
        var tabContentId = $currentTab.attr("href");
        $currentTab.parent().remove(); //remove li of tab
        $('#myTab a:last').tab('show'); // Select first tab
        $(tabContentId).remove(); //remove respective tab content
    }

    function getCurrentTab() {
        return curTab.attr("id");
    }

    var curTab = $("#main");
    var tabDisplayType = curTab.css("display");
    var tabsCount = 0;
    var tabControl = {
        activeTabs: [],
        leftHiddenTabs: [],
        rightHiddenTabs: []
    };

    addTabToActiveGroup(curTab, "right");

</script>

<script>
    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent){
        window.parent.parent.postMessage(["resultsFrame", {
            height: document.body.getBoundingClientRect().height,
            slug: "g2vCv"
        }], "*")
    }
</script>

<script>
    document.getElementsByClassName("app-title")[0].addEventListener("click", function(){
        var stencil = $(".stencil-container");
        var zIndex = stencil.css("zIndex");
        stencil.css("z-index", -zIndex);

    });
</script>
<!-- Local file warning: -->
<div id="message-fs" style="display: none;">
    <p>The application was open locally using the file protocol. It is recommended to access it trough a <b>Web
            server</b>.</p>
    <p>Please see <a href="README.md">instructions</a>.</p>
</div>
<script>
    (function () {
        var fs = (document.location.protocol === 'file:');
        var ff = (navigator.userAgent.toLowerCase().indexOf('firefox') !== -1);
        if (fs && !ff) {
            (new joint.ui.Dialog({
                width: 300,
                type: 'alert',
                title: 'Local File',
                content: $('#message-fs').show()
            })).open();
        }
    })();
</script>

</body>
</html>
